*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #565454;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 3vw;
    margin: 0.5em 0;
}

.canvas {
    margin: 0 auto;
}

.calculator {
    margin: 0 auto;
    width: 70%;
    background-color: #889e73;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.display {
    font-family: 'Orbitron', serif;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 1em;
    width: 90%;
    margin-top: 1em;
    background-color: #c9dabf;
    color: #565454;
    border-radius: 1em;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.keyboard {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.keyboard-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.keyboard-key {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #504b38;
    outline-offset: 4px;
    padding: 0;
}

.keyboard-key-front {
    display: block;
    background-color: #f3eeea;
    border-radius: 50%;
    padding: 0.8em 1em;
    font-size: 1rem;
    transform: translateY(-5px);
}

.keyboard-key:active .keyboard-key-front {
    transform: translateY(-2px);
}

.equal,
.clear,
.operator {
    font-weight: 600;
}

.equal {
    background-color: #ffc6c6;
}

.clear {
    background-color: #fadfa1;
}

.operator {
    background-color: #dce4c9;
}

@media screen and (min-width: 450px) {
    .calculator {
        width: 60%;
    }
}

@media screen and (min-width: 600px) {
    .calculator {
        width: 50%;
    }

    .keyboard-key-front {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 750px) {
    .display {
        font-size: 1.5rem;
    }

    .calculator {
        width: 40%;
    }

    .keyboard-key-front {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .calculator {
        width: 30%;
    }
}
@media screen and (min-width: 1600px) {
    .display {
        font-size: 1.8rem;
    }
    .calculator {
        width: 25%;
    }
}
